body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    display: block;
    width: 60%;
}

button {
    display: block;
    width: 60%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    background: #560712;
    color: #f5efef;
    padding: 1em;
    transition: 0.4s;
}

#linkBtn {
    width: 100%;
    height: 9.25%;
}

a:hover,
a:focus {
    text-decoration: none;
}

button:hover,
button:focus {
    background: #ffffff;
    color: #560712;
}

.btnGroup {
    margin: 0;
    margin-bottom: 3em;
    padding-left: 5em;
}

h1 {
    position: relative;
    height: 100%;
    font-size: 5em !important;
}

.title {
    padding-top: 1em;
}

.noPadding {
    padding: 0;
}

input {
    border-radius: 1em;
    padding: 1em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #560712;
    border-bottom-left-radius: unset;
}

.screen {
    height: 100%;
}

#header {
    height: 20%;
    background: #560712;
    color: #f5efef;
}

.display {
    height: 100%;
}

.display2 {
    padding-left: 0.4em;
    height: 50%;
}

#sidePanel {
    background: #f7f6f6;
    height: 100%;
    padding-top: 5em;
    box-shadow: 6px 2px 10px -2px #560712;
}

.searchBtn {
    cursor: pointer;
    font-size: 1.8em;
    color: #560712;
    transition: 0.4s;
}

.searchBtn:hover,
.searchBtn:focus {
    color: #ffffff;
}

i {
    display: block;
}

.fa-stack-1x:hover,
.fa-stack-1x:focus {
    color: #560712;
}

ul {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    list-style: none;
    font-size: 1.3em;
}

li {
    padding: 0.15em;
    margin-bottom: 0.6em;
    height: 20%;
    border: none;
    border-bottom: solid 1.55px #560712;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0px 0px 2px 0px #560712;
}

#main {
    height: 80%;
    overflow-y: scroll;
}