<html>

<head>
    <title>
        Asset Management App |
    </title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js"></script>
</head>

<body>
    <div id="input">
        <input type="text" id="name" value="" placeholder="Asset Name">
        <input type="text" id="class" placeholder="Asset Class">
        <input type="date" id="AssetDate" placeholder="Date Acquired">
        <input type="text" id="sku" placeholder="SKU">
        <input type="text" id="description" placeholder="Description">
    </div>

    <div class="assetgroup">
        <a href="./assets.html"><button id="asset">View Assets</button></a>
        <button id="add" onclick="showMessage()"> Add Asset</button>
    </div>

</body>

</html>